<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 <servlet>
	<servlet-name>addServlet</servlet-name>
	<servlet-class>com.demoapp.servlets.AddServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>addServlet</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>squareServlet</servlet-name>
	<servlet-class>com.demoapp.servlets.SquareServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>squareServlet</servlet-name>
	<url-pattern>/squared</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>addServletRedirect</servlet-name>
	<servlet-class>com.demoapp.servlets.AddServletUsingRedirection</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>addServletRedirect</servlet-name>
	<url-pattern>/addRedirection</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>squareServletRedirect</servlet-name>
	<servlet-class>com.demoapp.servlets.SquareServletUsingRedirection</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>squareServletRedirect</servlet-name>
	<url-pattern>/squareRedirection</url-pattern>
</servlet-mapping>

</web-app>